html {
  font-family: "Ubuntu Condensed", sans-serif;
}

h1,
p {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, .7);
}

a {
  text-shadow: 0 0 4px rgba(180, 255, 244, .2);
}

.banner-content {
  padding-top: 15em;
  padding-bottom: 10em;
  background-image: url("../images/starfield.png");
  background-repeat: repeat;
  background-size: auto 1000px;
  background-position: center;
}

.btn-ghost {
  text-decoration: none;
  color: #b4fff4;
  border: 3px solid #b4fff4;
  border-radius: 8px;
  padding-bottom: 15px;
  transition: all .2s linear;
  position: relative;
}

.btn-ghost:hover {
  background-color: rgba(180, 255, 244, .2);
  border-color: #b4fff4;
  color: #90ccc3;
}

.btn-ghost:active {
  bottom: -1em;
}

.rocket {
  left: 100px;
  bottom: 12px;
}

.btn-ghost:focus {
  z-index: 10;
}

.btn-ghost:hover .icon {
  bottom: 5px;
}

.bottom-btn {
  min-height: 18px;
  border-bottom: 3px solid #b4fff4;
  bottom: 8px;
  left: -3px;
  width: calc(100% + 6px);
  position: absolute;
}

.btn-ghost:active .bottom-btn {
  bottom: 3px;
  min-height: 7em;
}
